.Calendar {
    color: black;
}
  
span.fc-icon-chevron-left {
    margin-left: 0px;
}

span.fc-icon-chevron-right {
    margin-left: 0px;
}

.Calendar {
    color: black;
}

.dropdowns {
    z-index: 20;
}

span.fc-icon-chevron-left {
    margin-left: 0px;
}

span.fc-icon-chevron-right {
    margin-left: 0px;
}

.fc-event {
    --fc-event-bg-color: transparent;
    --fc-event-border-color: transparent;
}

.fc-daygrid-dot-event {
    display: block;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-right: 0px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
    margin-left: 0px;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion {
    text-decoration: none;
    color:var(--primary-button-color);
}

.new-meeting-button {
    border: none;
    background-color: var(--success-button-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    width: 320px;
    color: white;
    text-align: center;
    transition: background-color 0.15s;
}

.new-meeting-button:hover {
    background-color: var(--success-button-hover-color);
}

@media (max-width: 450px) {
    .new-meeting-button {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .fc
    .fc-toolbar.fc-header-toolbar {
        display: block;
        text-align: center;
    }

    .fc-header-toolbar
    .fc-toolbar-chunk {
        display: block;
    }
}

.fc
.fc-button-primary {
    background-color: var(--primary-button-color);
    border: none;
}

.fc:hover
.fc-button-primary:hover {
    background-color: var(--primary-button-hover-color);
}