.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: white;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: #2C3E50
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: #26D1B7;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.topnav {
  background-color: #2C3E50;
  overflow: hidden;
  align-items:center;
  top: 0%;
  left: 0%;

  position: fixed;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #26D1B7;
  color: white;
}

.topnav-links {
  float: right;
}