.App {
  /* text-align: center;
  display: flex; */
  min-height: 100vh;
  /* align-items: center;
  justify-content: center;
  color: white; */
  background-color: white;
}

.auth-form-container, .login-form, .register-form, .modal-container {
  display: flex;
  flex-direction: column;
  background-color: #2C3E50;
  color: white;
}

@media screen and (min-width: 400px) {
  .auth-form-container {
    padding: 35px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}

button {
  border: none;
  background-color: #26D1B7;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  padding: 0px;
}


/* Navbar CSS */
.navbar {
  background-color: #2C3E50;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-icon {
  margin-left:2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #2C3E50;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: black;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle{
  background-color: #2C3E50; ;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's on top of the form */
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light gray border */
  border-top: 4px solid #3498db; /* Blue border for spinning effect */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* Rotation animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.password-toggle-button {
  color: black;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#password {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#passwordIcon {
  font-size: 20px;
}.Calendar{color:black;}

span.fc-icon-chevron-left{
  margin-left: 0px;
}

span.fc-icon-chevron-right{
  margin-left: 0px;
}

.Calendar{color:black;}

span.fc-icon-chevron-left{
  margin-left: 0px;
}

span.fc-icon-chevron-right{
  margin-left: 0px;
}